<!DOCTYPE html>
<html lang="en-us">
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <title>{% if page.title %}{{ page.title }} - {% endif %}{{ site.meta.site_title }}</title>
        <meta name="author" content="{{ site.meta.author.fullname }}" />


            <link href="atom.xml" rel="alternate" 
                title="Atom" type="application/atom+xml" />
            <link href="rss.xml" rel="alternate" 
                title="RSS" type="application/rss+xml" />

		<link rel="shortcut icon" type=image/x-icon href="{{site.baseurl}}/favicon.ico">
        
		
		<!--[if lt IE 9]>
			<script src="{{site.baseurl}}/js/html5.js" type="text/javascript"></script>	 
        <![endif]--> 
        
        <link rel="stylesheet" href="{{ site.baseurl }}/css/screen.css" 
            type="text/css" media="screen, projection" />
			
		<script src="{{site.baseurl}}/js/jquery-1.7.1.min.js" type="text/javascript" charset="utf-8"></script> 
		<script type=text/javascript src="{{site.baseurl}}/js/scrolltop.js"></script>

		
		{% unless page.title %}
			{% include browser.html %}
			{% include redirect-url.html %}
		{% endunless %}			
        
    </head>
	
	{% unless page.title %}
	<body onload="detectBrowser()">
	{% else %}	
    <body>
	{% endunless %}
	
		<div style="display: none" id="goTopBtn">
			<img border=0 class="topBtn" title="返回顶部" src="{{site.baseurl}}/images/go2top.jpg">
		</div>
		<script type=text/javascript>goTopEx();</script>

        <section class="site">

            <header>
                <h1><a href="{{site.baseurl}}/">{{ site.meta.site_title }}</a></h1>
                <h2>{{ site.meta.site_subtitle }}</h2>         	
		
            </header>
			
			<aside class="sidebar">
				{% unless page.title %}
					{% include about-me.html %} 
				{% endunless %}
				
				{% if page.title %}
					{% include recent.html %}
				{% endif %}
				
				{% include tag-sidebar.html %}
				{% include douban.html %}
				{% include see-also.html %} 				
				{% include bottom.html %}  
                         
            </aside>  
			
			{{ content }}			
             
  

			{% include footer.html %} 


        </section>

		{% include after-foot.html %}
	
    </body>
</html>
