<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="zh-CN" lang="zh-cn">
<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<meta http-equiv="cache-control" content="max-age=7200" />
	<meta name="author" content="{{ site.author }}" />
	<title>{{ page.title }}</title>
	<link rel="shortcut icon" href="{{ site.url }}/favicon.ico">
	<link href="{{ site.url }}/feed/" rel="alternate" title="{{ site.author }}" type="application/atom+xml" />
	<!--[if lte IE 7]><style>* {display:none}</style><![endif]-->
	<link rel="stylesheet" href="{{ site.url }}/media/css/style.css">
	<script src="{{ site.url }}/media/js/all.js"></script>
</head>

<body onload="prettyPrint()">
	<div id="container" >
	      <div id="main">
			<header><h1>极简设计</h1></header>
			<div class="nav">
				<a title="home page" class="" href="{{ site.url }}/">Index</a>
				<a title="about" class="" href="{{ site.url }}/about/">About</a>
				<a title="categories" class="" href="{{ site.url }}/categories/">Tags</a>
				<a title="categories" class="" href="{{ site.url }}/archives/">Archives</a>
				<a title="subscribe by RSS" class="" href="{{ site.url }}/feed/">Feed</a>
			</div>
			<div class="content">
			 	<div class="post">
					{{ content }}
				</div>
			</div>
		</div>
	</div>
</body>
</html>