---
layout: default
---



<section class="content">

	<article class="posts">
		<h2 class="title">{{ page.title }}</h2>
		<time class="emphnext" style="color:gray;" title="{{ page.date | date_to_xmlschema }}" pubdate="{{ page.date | date_to_xmlschema }}">{{ page.date | date: '%B %d, %Y' }}</time>
		
		{% if page.tags != empty %}
		<ul class="tags emphnext">
			<li>Tag：</li>
			{% for tag in page.tags %}
				<li><a href="{{ site.baseurl }}/tags#{{tag | replace:' ', '-' | downcase }}">{{ tag }}</a>{% if forloop.last == false %}, {%endif %}</li>
			{% endfor %}
		</ul>
		{% endif %}	

		{{ content }}	


	
		<div id="post-bottom">
			<!-- JiaThis Button BEGIN -->
			<div id="ckepop">
				<span class="jiathis_txt">share：</span>
				<a class="jiathis_button_qzone"></a>
				<a class="jiathis_button_tsina"></a>
				<a class="jiathis_button_tqq"></a>
				<a class="jiathis_button_renren"></a>
				<a class="jiathis_button_kaixin001"></a>
				<a href="http://www.jiathis.com/share?uid=1558027" class="jiathis jiathis_txt jtico jtico_jiathis" target="_blank"></a>
				<a class="jiathis_counter_style"></a>
				
				<span class="more right">
				<a href="{{site.baseurl}}/">back to home</a>
				</span>
			</div>
			<!-- JiaThis Button END -->	

		</div>
	
	</article>

	<nav class="page-navigation">
		<ul>
			{% if page.previous.url %}
			<li class="left">
				<a href="{{ site.baseurl }}{{page.previous.url}}" title="pre：{{page.previous.title}}">&laquo; {{page.previous.title}}</a>
			</li>
			{% endif %}
			
			<li class="center"><a href="{{ site.baseurl }}/archives/">list</a></li>
			
			{% if page.next.url %}
			<li class="right">
				<a href="{{ site.baseurl }}{{page.next.url}}" title="next：{{page.next.title}}">{{page.next.title}} &raquo;</a>
			</li>
			{% endif %}
		</ul>
	</nav>

	{% if page.comment %}

{% comment %}

	<section class="comments" id="comments">
		 <div id="disqus_thread" aria-live="polite"></div>
		<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">Comments powered by Disqus.</a>
		</noscript>

		
	</section>
{% endcomment %}

<section class="comments" id="comments">
	<!-- Duoshuo Comment BEGIN -->
	<div class="ds-thread"></div>
	<script type="text/javascript">
	var duoshuoQuery = {short_name: "ypchen"};
	(function() {
		var ds = document.createElement('script');
		ds.type = 'text/javascript';ds.async = true;
		ds.src = 'http://static.duoshuo.com/embed.js';
		(document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(ds);
	})();
	</script>
<!-- Duoshuo Comment END -->
</section>

	{% endif %}

</section>
